:root {
  font-family: 'Inter', sans-serif;
}
@font-face {
  font-family: pacific-sans-light;
  src: url(./Pacific_Sans_Light.ttf);
}
body,
html {
  margin: 0;
  padding: 0;
  background: #121117;
}

* {
  box-sizing: border-box;
}
